body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 360px;
    min-height: 140px;

    border: 1px solid gray;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10 0;
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
}

div {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-module-0 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#file-module-0 > label {
    font-size: 24px;
}

#question{
    margin: 0 10px;
    padding: 5px;
    width: 95%;
    height: 100px;
}

#result {
    margin: 0px 10px;
    border: 1px solid gray;
    border-radius: 3px;

    padding: 5px;
    width: 92%;
    min-height: 200px;
}

#text-button {
    border: none;
    border-radius: 5px;

    width: 95%;
    height: 30px;
    background-color: black;
    color: white;
    margin: 10px 0px;
}