.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    margin: 20px;
}

.header {
    max-width: 980px;
    width: 95vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0px;

    background-color: white;
    position: sticky;
    top: 0;
}

.logo {
    max-width: 30px;
    float: left;
}

.noto-sans {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.noto-sans-bold {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.container {
    max-width: 980px;
    width: 95vw;
    justify-content: center;
    align-items: center;
}

.subtitle {
    margin-top: 15vw;
}

.btn {
    max-width: 200px;
    width: 150px;
    height: 50px;
    margin-top: 5vw;
    background-color: black;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    border: 0px;

    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover{
    background-color: #888888;
}

.content {
    margin-top: 2vw;
    max-width: 600px;
    width: 90vw;
}

.main-img {
    margin-top: 10vw;
    max-width: 500px;
    width: 90vw;
}

.caption {
    margin-bottom: 5vw;
    align-items: left;
    max-width: 500px;
    width: 90vw;
}

.div-title {
    margin-top: 5vw;
    align-items: left;
    max-width: 600px;
    width: 90vw;
}

a {
    color: black;
    text-decoration-line: underline;
    text-decoration-color: #888888;
    text-decoration-thickness: 2px;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-color: black;
}

.footer {
    margin-top: 10vw;
    color: #888888;
    max-width: 980px;
    width: 95vw;
    padding-bottom: 10px;
    padding-left: 10px;
}